@model List<Way2Software2.Models.GHRepository>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>

<ul>

   @foreach(var item in Model){
    <li >
        <div>   
            <hr />      
            <span class="repositories">@item.stargazers_count Estrelas</span>
            <h3 class="repositories">
                @Html.ActionLink(item.name, "Repository", "Home", new { repository_fullname = item.html_url }, null)
            </h3>   
            @item.full_name
            <hr />
            
        </div>       
    </li>
        
    }

</ul>

</article>
