
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
       Aqui serão exibidos os repositórios favoritados pelo usuário.
    </p>


</article>

<aside>
    <h3>Está aqui caso eu precise</h3>
    
</aside>